= simple_form_for @portfolio do |f|
  = f.input :title, label: 'Portfolio Title'

  = f.simple_fields_for :assets do |assets_form|
    .duplicatable_nested_form
      = assets_form.association :stock
      = assets_form.input :amount, :input_html => { min: 0 }
      = assets_form.input :long_short, label: 'Long / Short', collection: ['Long', 'Short']

      .input
        - if assets_form.object.new_record?
          = link_to 'Remove', '', :class => 'destroy_duplicate_nested_form'
        -else
          = link_to 'Remove', portfolio_asset_path(@portfolio, assets_form.object), :method => :delete, :remote => true, :class => 'destroy_duplicate_nested_form'
          = assets_form.input :id, as: :hidden
      .clear


  = link_to 'Add Another Stock', '', :class => 'duplicate_nested_form'
  = f.submit